{# templates/admin/my_dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    {# ... #}
    <marquee><h1>Bienvenue dans le parc informatique de ILEAD GLOBAL!</h1></marquee>
{% endblock main %}